
body{
  background-color: black;
color:green;
width: 100%;
}
@media screen and (min-width: 200px){
  #grid{
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      align-items: center;
      justify-items: center;
      position: absolute;
      top:50%;
      left: 50%;
      margin-right:-50%;
      transform: translate(-50%,-50%);
      width: 40%;
      height: 40%;
      border: 2px solid green;
      border-radius: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
  }
  .box{
      background-color: grey;
      border-radius: 5px;
      font-weight: bold;
      color: green;
      padding-top:10%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 88%;
      width: 90%;
      text-align: center;
      padding-top: 5%;
      box-sizing: border-box;
      cursor: pointer;
      font-size: 35px;
  }
  }
  
#countdown{
text-align: center;
font-size: 100px;
font-weight: bold;
margin: 150px auto;
left: 65%;
top: 40%;
}
#times{
float: right;
}
#set{
display: inline-block;
width: 20%;
}
.time{
display: inline-block;
width: 50px;
height: 50px;
margin-right:80px;
}
.best-time{
display: inline-block;

margin-right: 80px;
}
#times{
color: white;
}
#new-game{
display: inline-block;

cursor: pointer;
font-weight: bold;
font-size: 25px;

}
#hacker-mode{
  display: inline-block;
  width: 20%;
  cursor: pointer;
  margin-left: 20px;
}
.order{
display: inline-block;
width:50%;
margin-right: 50px;

}
.restart{
  color: green;
  text-align: center;
  font-size: 35px;
  display: block;
  cursor: pointer;
}
  .level{
    cursor: pointer;
    display: block;
    font-size: 35px;
  }
  .difficulty{
    cursor: pointer;
  }

  #st{
    text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin: 50px auto;
  left: 65%;
  top: 40%;
  
}